@config "../../tailwind.config.js";
@import "tailwindcss";

@font-face {
    font-family: 'MYuenHK';
    src: url("../assets/fonts/MYuenHK-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MYuenHK';
    src: url("../assets/fonts/MYuenHK-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MYuenHK';
    src: url("../assets/fonts/MYuenHK-Bold.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMT';
    src: url("../assets/fonts/Arial-Rounded-MT-Light.ttf") format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMT';
    src: url("../assets/fonts/Arial-Rounded-MT-Regular.ttf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMT';
    src: url("../assets/fonts/Arial-Rounded-MT-Bold.ttf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'MYuenHK', serif;
}

.bg-top {
    background-image: url("../assets/images/bg-top.png");
    background-size: auto;
}

.bg-footer {
    background-image: url("../assets/images/bg-footer-01.png"), url("../assets/images/bg-footer-02.png");
    background-repeat: no-repeat, repeat-y;
    background-position: top left, top right;
}

.bg-01 {
    background-image: url("../assets/images/bg-01.jpg");
    background-size: auto;
}

.bg-02 {
    background-image: url("../assets/images/bg-02.jpg");
    background-size: auto;
}

.owl-carousel {
    .owl-nav {
        position: absolute !important;
        display: flex !important;
        justify-content: space-between !important;
        transform: translateY(-50%) !important;
        left: 10% !important;
        right: 10% !important;
        top: 50% !important;

        button.owl-next, button.owl-prev {
            @apply btn btn-circle;
            background-color: #e6ddd2 !important;
            color: white !important;
            font-size: 2rem;
            font-weight: bold;
        }
    }
}


.more-box {
    display: inline-block;
    background: #ddd0c0;
    transform: rotate(360deg);
    width: fit-content;
    padding-left: 10px;
    position: relative;

    .more {
        background: #f29993;
        padding: 0 25px;
        color: white;
    }

    .shadow {
        background: #efe3d9;
        position: absolute;
        transform: rotate(355deg);
        width: 90%;
        height: 100%;
        top: 6px;
        z-index: -10;
    }
}

.divider-line {
    flex: 1;
    height: 4px;
    background-image: radial-gradient(circle, #998675 2px, transparent 2px);
    background-size: 20px 100%;
    background-repeat: repeat-x;
}

.line-bg {
    display: inline;
    background: linear-gradient(#f7d197, #f7d197) no-repeat;
    background-size: 100% 10px;
    background-position: 0 16px;
    line-height: 1.6;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.fon-ar-mt {
    font-family: ArialRoundedMT, serif;
}


@media screen and (min-width: 1360px) {
    .about-us-icon-bg-01 {
        background-image: url("../assets/images/about-us/icon-01.png");
        background-repeat: no-repeat;
        background-size: 110px;
        background-position-x: 95%;
        background-position-y: 136px;
    }

    .about-us-icon-bg-02 {
        background-image: url("../assets/images/about-us/icon-02.png");
        background-repeat: no-repeat;
        background-size: 110px;
        background-position-x: 5%;
        background-position-y: 136px;
    }

    .about-us-icon-bg-03 {
        background-image: url("../assets/images/about-us/icon-03.png");
        background-repeat: no-repeat;
        background-size: 110px;
        background-position-x: 85%;
        background-position-y: 136px;
    }

    .contact-us-bg {
        background-image: url("../assets/images/about-us/icon-01.png"), url("../assets/images/about-us/icon-01.png");
        background-position: left top, right top;
        background-repeat: no-repeat, no-repeat;
        background-size: 109px, 120px;
    }
}

@keyframes swingLR {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(12deg);
    }
    50% {
        transform: rotate(-12deg);
    }
    75% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sway-box:hover img.motion {
    animation: swingLR 1.2s ease-in-out infinite;
    transform-origin: center center;
}

.auth-page {
    background-image: url("../assets/images/auth/bg.jpg"), url("../assets/images/auth/bg-repeat.png");
    background-repeat: no-repeat, repeat-y;
    background-size: contain, 100%;

    .form-bg {
        background: #f2f2f2cc;
    }
}

.solid-line {
    flex: 1;
    height: 1px;
    background-image: radial-gradient(circle, #998675 10px, transparent 2px);
    background-size: 20px 100%;
    background-repeat: repeat-x;
}

#map-box {
    .ol-viewport {
        border-radius: var(--radius-lg);
    }

    .map-popup {
        position: absolute;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        min-width: 250px;
        max-width: 350px;
        z-index: 1000;
        display: none;
        transform: translateX(-50%);
    }

    .map-popup:before {
        content: '';
        position: absolute;
        top: 80%;
        right: -28px;
        transform: rotate(225deg);
        border: 28px solid transparent;
        border-top-color: white;
        border-radius: 8px;
    }

    .popup-title {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 10px;
        color: #333;
    }

    .popup-content {
        font-size: 14px;
        color: #666;
        line-height: 1.4;
        padding-top: 5px;

        .info:nth-child(even) {
            background: #e6e6e6;
            border-radius: 8px;
        }

        strong {
            width: 70px;
            flex: none;
        }
    }

    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 18px;
        color: #999;
    }

    .popup-close:hover {
        color: #333;
    }
}

.map-item-box {
    position: relative;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 50px),
        calc(100% - 50px) 100%,
        0% 100%
    );

    &:after {
        position: absolute;
        right: 0;
        bottom: -5px;
        content: '';
        width: 50px;
        height: 50px;
        background: #fadbe8;
        border-radius: 10px 0 0 0;
    }
}
