@config "../../tailwind.config.js";
@import "tailwindcss";

@font-face {
    font-family: 'MYuenHK';
    src: url("../assets/fonts/MYuenHK-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MYuenHK';
    src: url("../assets/fonts/MYuenHK-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MYuenHK';
    src: url("../assets/fonts/MYuenHK-Bold.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMT';
    src: url("../assets/fonts/Arial-Rounded-MT-Light.ttf") format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMT';
    src: url("../assets/fonts/Arial-Rounded-MT-Regular.ttf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ArialRoundedMT';
    src: url("../assets/fonts/Arial-Rounded-MT-Bold.ttf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

* {
    font-family: 'MYuenHK', serif;
}

.bg-top {
    background-image: url("../assets/images/bg-top.png");
    background-size: auto;
}

.bg-footer {
    background-image: url("../assets/images/bg-footer-01.png"), url("../assets/images/bg-footer-02.png");
    background-repeat: no-repeat, repeat-y;
    background-position: top left, top right;
}

.bg-01 {
    background-image: url("../assets/images/bg-01.jpg");
    background-size: auto;
}

.bg-02 {
    background-image: url("../assets/images/bg-02.jpg");
    background-size: auto;
}

.owl-carousel {
    .owl-nav {
        position: absolute !important;
        display: flex !important;
        justify-content: space-between !important;
        transform: translateY(-50%) !important;
        left: 10% !important;
        right: 10% !important;
        top: 50% !important;

        button.owl-next, button.owl-prev {
            @apply btn btn-circle;
            background-color: #e6ddd2 !important;
            color: white !important;
            font-size: 2rem;
            font-weight: bold;
        }
    }
}


.more-box {
    display: inline-block;
    background: #ddd0c0;
    transform: rotate(360deg);
    width: fit-content;
    padding-left: 10px;
    position: relative;

    .more {
        background: #f29993;
        padding: 0 25px;
        color: white;
    }

    .shadow {
        background: #efe3d9;
        position: absolute;
        transform: rotate(355deg);
        width: 90%;
        height: 100%;
        top: 6px;
        z-index: -10;
    }
}

.divider-line {
    flex: 1;
    height: 4px;
    background-image: radial-gradient(circle, #998675 2px, transparent 2px);
    background-size: 20px 100%;
    background-repeat: repeat-x;
}

.line-bg {
    display: inline;
    background: linear-gradient(#f7d197, #f7d197) no-repeat;
    background-size: 100% 10px;
    background-position: 0 16px;
    line-height: 1.6;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.platform-ios .line-bg {
    background-position: 0 12px;
}

.fon-ar-mt {
    font-family: ArialRoundedMT, serif;
}


@media screen and (min-width: 1360px) {
    .about-us-icon-bg-01 {
        background-image: url("../assets/images/about-us/icon-01.png");
        background-repeat: no-repeat;
        background-size: 110px;
        background-position-x: 95%;
        background-position-y: 136px;
    }

    .about-us-icon-bg-02 {
        background-image: url("../assets/images/about-us/icon-02.png");
        background-repeat: no-repeat;
        background-size: 110px;
        background-position-x: 5%;
        background-position-y: 136px;
    }

    .about-us-icon-bg-03 {
        background-image: url("../assets/images/about-us/icon-03.png");
        background-repeat: no-repeat;
        background-size: 110px;
        background-position-x: 85%;
        background-position-y: 136px;
    }

    .contact-us-bg {
        background-image: url("../assets/images/contact-us/icon-01.png"), url("../assets/images/contact-us/icon-02.png");
        background-position: 16% 30px, 86% 30px;
        background-repeat: no-repeat, no-repeat;
        background-size: 109px, 120px;
    }
}

@keyframes swingLR {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(12deg);
    }
    50% {
        transform: rotate(-12deg);
    }
    75% {
        transform: rotate(6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sway-box:hover img.motion {
    animation: swingLR 1.2s ease-in-out infinite;
    transform-origin: center center;
}

.auth-page {
    background-image: url("../assets/images/auth/bg.jpg"), url("../assets/images/auth/bg-repeat.png");
    background-repeat: no-repeat, repeat-y;
    background-size: contain, 100%;

    .form-bg {
        background: #f2f2f2cc;
    }
}

.solid-line {
    flex: 1;
    height: 1px;
    background-image: radial-gradient(circle, #998675 10px, transparent 2px);
    background-size: 20px 100%;
    background-repeat: repeat-x;
}

#map-box {
    .ol-viewport {
        border-radius: var(--radius-lg);
    }

    .map-popup {
        position: absolute;
        background: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        min-width: 250px;
        max-width: 350px;
        z-index: 1000;
        display: none;
        overflow: visible;
        bottom: 55px;
        right: 0;
    }

    .map-popup:after {
        content: '';
        position: absolute;
        right: -4px;
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 30px solid white;
        pointer-events: none;
        bottom: -30px;
        transform: rotate(316deg);
    }

    .map-popup:before {
        content: '';
        position: absolute;
        right: -12px;
        top: calc(50% - 1px);
        width: 0;
        height: 0;
        transform: translateY(-50%) rotate(180deg);
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid white;
        opacity: 0;
        pointer-events: none;
    }

    .map-popup:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -12px;
        width: 0;
        height: 0;
        transform: translateX(-50%);
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid white;
        filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.12));
        pointer-events: none;
    }

    .popup-title {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 10px;
        color: #333;
    }

    .popup-content {
        font-size: 14px;
        color: #666;
        line-height: 1.4;
        padding: 5px 10px;

        .info {
            padding: 0 5px;
        }

        .info:nth-child(even) {
            background: #e6e6e6;
            border-radius: 8px;
        }

        strong {
            width: 70px;
            flex: none;
        }
    }

    .popup-close {
        cursor: pointer;
        font-size: 22px;
        color: #999;
        padding: 10px;
    }

    .popup-close:hover {
        color: #333;
    }
}

.news-col-item {
    .news-perforated-line {
        height: 40px;
        background-image: radial-gradient(circle, transparent 5px, #fff 5px);
        background-size: 20px 100%;
        background-repeat: repeat-x;
        background-position: center;
    }

    .news-item-box {
        position: relative;

        .news-item-box-clip {
            position: relative;
            clip-path: polygon(
                0% 0%,
                100% 0%,
                100% calc(100% - 50px),
                calc(100% - 50px) 100%,
                0% 100%
            );

            &:after {
                position: absolute;
                right: 0;
                bottom: -5px;
                content: '';
                width: 50px;
                height: 50px;
                background: #f9cecb;
                border-radius: 10px 0 0 0;
            }
        }

        .news-item-deco {
            z-index: 10;
        }

        .title {
            &:before {
                background: #fff;
            }
        }
    }

    &:nth-child(odd) {
        .title {
            color: #A8758C;
        }

        .cls-1 {
            fill: #A8758C;
        }
    }

    &:nth-child(even) {
        .title {
            color: #00A99D;
        }

        .cls-1 {
            fill: #00A99D;
        }
    }
}

.map-item-box {
    position: relative;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 50px),
        calc(100% - 50px) 100%,
        0% 100%
    );

    &:after {
        position: absolute;
        right: 0;
        bottom: -5px;
        content: '';
        width: 50px;
        height: 50px;
        background: #fadbe8;
        border-radius: 10px 0 0 0;
    }
}

.category.active {
    background: #c9e0de8a;
    color: #00A99D;
}

.title-tooltip {
    position: relative;
    overflow: initial;
}

.title-tooltip[data-tooltip]::before {
    content: attr(data-tooltip);
    width: max-content;
    position: absolute;
    top: -18px;
    left: var(--tooltip-left, 0);
    color: #998675;
    z-index: 40;
    font-size: 15px;
    background: #fffef9;
    padding-right: 8px;
}

.resource-kit-icon {
    position: relative;
    overflow: initial;
    display: block;

    &::before {
        content: '';
        position: absolute;
        background-image: url("../assets/images/resource-kit/resource-kit-icon.png");
        background-repeat: no-repeat;
        background-size: 172px;
        background-position: top;
        background-position-y: 7px;
        width: 172px;
        height: 44px;
        top: -18px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.resource-kit-show-icon {
    position: relative;
    overflow: initial;
    display: block;

    &::before {
        content: '';
        position: absolute;
        background-image: url("../assets/images/resource-kit/resource-kit-icon.png");
        background-repeat: no-repeat;
        background-size: 271px;
        background-position: top;
        width: 271px;
        height: 44px;
        top: -18px;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.page-item:hover, .page-item.disabled:hover {
    background: #66cbc4;
    color: white;
    border-color: #66cbc4;
}

.page-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.active {
        background: #66cbc4;
        color: white;
        border-color: #66cbc4;
    }
}

.page-item.disabled {
    color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

.map-item-0-box:after {
    background: #fff3c3;
}

.corner-cutout {
    -webkit-mask: radial-gradient(circle at 0% 0%, transparent 15px, black 15px) top left,
    radial-gradient(circle at 100% 0%, transparent 15px, black 15px) top right,
    radial-gradient(circle at 0% 100%, transparent 15px, black 15px) bottom left,
    radial-gradient(circle at 100% 100%, transparent 15px, black 15px) bottom right;
    -webkit-mask-size: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask: radial-gradient(circle at 0% 0%, transparent 15px, black 15px) top left,
    radial-gradient(circle at 100% 0%, transparent 15px, black 15px) top right,
    radial-gradient(circle at 0% 100%, transparent 15px, black 15px) bottom left,
    radial-gradient(circle at 100% 100%, transparent 15px, black 15px) bottom right;
    mask-size: 50% 50%;
    mask-repeat: no-repeat;
}

.url-item:nth-child(odd) {
    .bg {
        background: #f5fbfe;
    }

    .line {
        background: #c5d5e2;
    }

    .title {
        background: #f5fbfe;
        color: #557BA2;
    }

    .tag {
        background: #cfeaf0bf;
    }
}

.url-item:nth-child(even) {
    .bg {
        background: #faf9fa;
    }

    .line {
        background: #e0cfd1;
    }

    .title {
        background: #faf9fa;
        color: #A76F70;
    }

    .tag {
        background: #ecdadbbf;
    }
}

.resource-page {

    ol, ul {
        list-style: initial;
        padding-inline-start: revert;
    }
}
